@{
    ViewData["Title"] = "Index";
}	
        <link rel="stylesheet" href="~/css/Sobre.css" asp-append-version="true" />
        <!-- INÍCIO DO CAMPO SOBRE -->
        <main class="container d-flex justify-content-center flex-column">
            <!--Sobre nós-->
            <div>
                <h1>Por que devo escolher a SKYTOUR para a minha viagem?</h1>
            </div>
            <div class="sobre bg-light">
                <p class="m-3">Sobre nós:</p>
                <p class="m-3 ">A SKYTOUR é uma das agências de viagens online com maior
                    trajetória na América Latina e recomendada por milhares de viajantes. Aproveite as ofertas e
                    promoções no nosso site e conheça o mundo todo. Compre sua viagem na SKYTOUR através da nossa
                    página. Fazemos de tudo por uma boa viagem, por isso trabalhamos para transformar essa
                    experiência na melhor conquista de sua vida. É essa forma de pensar que estabelece a SKYTOUR como a
                    maior operadora de turismo da América Latina.
                </p>
            </div>
            <!--Missão-->
            <div>
                <h1>Qual a nossa missão?</h1>
            </div>
            <div class="sobre bg-light">
                <p class="m-3 ">Queremos ser um grupo de pessoas apaixonadas que trabalham de forma simples e alinhada,
                    Ser a empresa de maior credibilidade do mercado, oferecendo as melhores soluções aos nossos
                    clientes. Isso nos permitirá oferecer uma proposta de valor diferenciada e operar de maneira
                    sustentável no longo prazo.
                </p>
            </div>
            <!--Linha do Tempo-->
            <div>
                <h1>Linha do Tempo:</h1>
            </div>
            <div class="sobre bg-light">
                <p class="m-3"><strong> 11/07/2022 - Nascimento da Agência de Viagens SKYTOUR</strong></p>
                <p class="m-3"> Nascimento da Agência de Viagens SKYTOUR, associação de <b>Luciano França</b> junto com
                    o instituto <b>RecodePro</b>, na cidade de São Paulo, região da Zona Leste (SP).
                </p>
                <p class="m-3">Instituto Recode que busca ampliar oportunidades de pessoas em situação de
                    vulnerabilidade social por meio do uso qualificado e consciente da tecnologia. Utilizando uma
                    metodologia de aprendizado contínuo e customizado, que habilita o indivíduo a ser um
                    <b>“reprogramador”</b> da sua realidade. Sua metodologia contempla três dimensões para potencializar
                    o impacto social: eu (foco no que o jovem pensa sobre o assunto), nós (como ele se vê em relação a
                    isso) e todos nós (foco nos impactos que o assunto causa na família, na comunidade e no mundo).
                </p>
            </div>
        </main>
        <!-- FIM DO CAMPO SOBRE -->